ul{
  /*list-style-type: lower-latin;
  list-style-type: armenian;
  list-style-type: lower-roman;
  list-style-type: decimal;
  list-style-type: square;*/
  list-style-image: url(/Images/emoji.png);
  padding-left: 50px;
  /*list-style-type: none;
  padding-left: 0px;*/
}
